# .env.example
# Supabase Connection URL (Transaction Mode recommended)
DATABASE_URL="postgresql://postgres.lyvpmaoaysuzekypgdfz:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DATABASE_URL_NON_POOLING="postgresql://postgres.lyvpmaoaysuzekypgdfz:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

# AI Integration
GEMINI_API_KEY="your_gemini"

# App Configuration
NEXT_PUBLIC_API_URL="http://localhost:3000/api"


NEXT_PUBLIC_SUPABASE_URL=id
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=id
